@tailwind base;
@tailwind components;
@tailwind utilities;

.react-transform-component {
  width: 100% !important;
  height: 100% !important;
}

.react-transform-element {
  width: 100% !important;
  height: 100% !important;
}

:root {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html, body, #webcockpit-root {
  height: 100%;
}

nav {
  display: flex;
  align-items: center;
  padding: 1em 2em;

  background-color: #eee;
}

nav ul {
  margin-left: 2.5em;

  display: flex;
  column-gap: 1.75em;
  list-style: none;
}

main {
  flex-grow: 1;
}

.react-transform-component {
  @apply h-full;
}

iframe {
  zoom: 50%;
}